@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Estilizando a barra de rolagem (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617; /* Slate-950 */
}

::-webkit-scrollbar-thumb {
  background: color-mix(in oklab, var(--color-purple-950) 30%, transparent); /* Purple-900 */
  border-radius: 10px;
  border: 2px solid color-mix(in oklab, var(--color-purple-700), transparent 50%);
}

